<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/stylesheets/main.css"/>
</head>
<body>

<div id="overall-wrapper">
  <div id="header">
    <ul>
      <li><a href="/#login">Log in</a></li>
      <li><a href="/#register">Register</a></li>
    </ul>
  </div>
  <div id="content-wrapper">
    <div id="map-container">
      <div id="address-holder"></div>
      <div id="map"></div>
      <div id="information-holder"></div>
    </div>
  </div>
  <div id="root-footer"></div>
</div>
<div id="footer">
  <p>footer texts</p>
</div>

<script id="map-type-controls" type="text/template">
  <div class="map-type-controls">
    <div class="current-value control-opener">initializing</div>
    <ul>
      <li><a href="#!hybrid" class="switches-map-type map-type-hybrid <% if(maptype == 'hybrid') {%> selected <% } %> ">Hybrid</a></li>
      <li><a href="#!roadmap" class="switches-map-type map-type-roadmap">Roadmap</a></li>
      <li><a href="#!osm" class="switches-map-type map-type-osm">OpenStreetMap</a></li>
      <li><a href="#!topo2" class="switches-map-type map-type-topo2">Topo2</a></li>
      <li><a href="#!topo2raster" class="switches-map-type map-type-topo2raster">Topo2raster</a></li>
      <li><a href="#!topo2graatone" class="switches-map-type map-type-topo2graatone">Topo2graatone</a></li>
    </ul>
  </div>
</script>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBpPB3FH59oL1a8_1cVyQmSovE2ApSpNu0&libraries=places&sensor=false"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/libs/underscore-min.js"></script>
<script type="text/javascript" src="/javascripts/libs/backbone.js"></script>
<script type="text/javascript" src="/javascripts/model/models.js"></script>
<script type="text/javascript" src="/javascripts/engine.js"></script>
</body>
</html>