#elevation-chart-holder {
  position: absolute;
  z-index: 1000;
  top: 40px;
  left: 20%;
  right: 20%;
  .elevation-view-holder {
    background-color: rgba(255, 255, 255, 0.7);
    display: none;
    padding: 20px;
    border: 1px #ccc solid;

    &:hover {
      background-color: white;
    }

    table {
      width: 100%;
      td, th {
        padding: 5px;
        text-align: left;
      }
      tr {
        td, th {
          &:nth-child(2) {
            text-align: right;
          }
        }
      }
      [type=checkbox] {
        margin-left: 0;
        margin-right: .5em;
      }
      i.color-sample {
        @include inline-block;
        width: 50px;
        height: 5px;
      }
      label {
        cursor: pointer;
      }
    }

    #elevation-chart-image-holder {
      height: 100px;
      margin: 10px 20px;
      position: relative;
      &.loading {
        background-color: #ccc;
      }
      #elevation-chart-image {
        height: 100%;
      }
    }
  }
}